{% extends "generator_base.html" %}

{% block title %}Activities{% endblock %}

{% block content %}
  <h1>Activities</h1>
  <ul class="simplelist">
    {% for event in events %}
      <li>
        <a href="{{ event.link }}"><h4>{{ event }}</h4></a>
        {{ event.date }}{% if event.time.value %}, {{ event.time }}{% endif %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}