{% extends "generator_base.html" %}

{% block title %}Bibliography{% endblock %}

{% block content %}
  <h1>Bibliography</h1>
  <ul>
    {% for entry in bibliography %}
      <li>{{ entry }}</li>
    {% endfor %}
  </ul>
{% endblock %}