{% extends "generator_base_two_columns.html" %}
{% load generator_utils %}

{% block title %}Caveat → activities → {{ event.title|striptags  }}{% endblock %}

{% if event.image %}
  {% block sidebar_image %}{{ event.image }}{% endblock %}
{% endif %}

{% block content %}
  <nav class="breadcrumbs">
    <ul>
      <li><a href="../index.html">Timeline</a></li>
      <li>{{ event.title }}</li>
    </ul>
  </nav>
  <h1>{{ event }}</h1>
  <section class="info">
    <time datetime="2019-05-24">{{ event.date }}</time>
    <p>
      {% if event.time.value %}
        {{ event.time }}<br />
      {% endif %}
      {% if event.location.value %}
        {{ event.location }}<br />
      {% endif %}
    </p>
    {% with item=event %}{% include "snippets/metadata.html" %}{% endwith %}
  </section>
  <section class="long-text">
    {{ event.summary }}
    {{ event.content }}
  </section>
  {% if event.notes %}
  <h4>Related documents</h4>
  <ul class="simplelist">
    {% for note in event.notes.targets %}
    <li><a href="{{ note.link }}" class="note">{{ note }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
{% endblock %}

{% block sidebar_class %}programme-items{% endblock %}

{% block sidebar %}
  <ul class="programme-item-list">
    {% for date, events in groupedProgrammeItems %}
      <li class="list-header">
        <h3>{{ date }}</h3>
      </li>
      {% for item in events %}
        <li id="{{ item.key }}">
          <h2>{% if item.time.value %}{{ item.time }}{% endif %} {{ item }}</h2>
          {% with item=item %}{% include "snippets/metadata.html" %}{% endwith %}
          {% if item.summary %}
            {{ item.summary }}
          {% else %}
            {{ item.content }}
          {% endif %}
          {% if item.notes %}
          <h4>Related documents</h4>
          <ul class="simplelist">
            {% for note in item.notes|link_target_iterator %}
            <li><a href="{{ note.link }}" class="note">{{ note }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
      {% endfor %}
    {% endfor %}
  </ul>
{% endblock %}