{% extends "generator_base.html" %}

{% block title %}Caveat → activities → {{ event.title|striptags  }}{% endblock %}

{% if event.image %}
  {% block sidebar_image %}{{ event.image }}{% endblock %}
{% endif %}

{% block content %}
  <nav class="breadcrumbs">
    <ul>
      <li><a href="../index.html">Timeline</a></li>
      <li>{{ event.title }}</li>
    </ul>
  </nav>
  <h1>{{ event }}</h1>
  <section class="info">
    <time>{{ event.date }}</time>
    <p>
      {% if event.time.value %}
        {{ event.time }}<br />
      {% endif %}
      {% if event.location.value %}
        {{ event.location }}<br />
      {% endif %}
      {% if event.address.value %}
        {% for addressline in event.address.value %}
          {{ addressline }}<br />
        {% endfor %}
      {% endif %}
    </p>
    {% with item=event %}{% include "snippets/metadata.html" %}{% endwith %}
  </section>
  <section class="long-text">
    {{ event.summary }}
    {{ event.content }}
  </section>
  {% if event.notes %}
  <h4>Related documents</h4>
  <ul class="simplelist">
    {% for note in event.notes.targets %}
    <li><a href="{{ note.link }}" class="note">{{ note }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
{% endblock %}