{% extends "generator_base.html" %}

{% block title %}Projects & Initiatives{% endblock %}

{% block content %}
  <h1>Projects & Initiatives</h1>
  <ul>
    {% for project in externalProjects %}
      <li>
        {% if project.link %}
          <a href="{{ project.link }}">{{ project.project }}</a>
        {% else %}
          <a href="{{ project.project }}">{{ project.project }}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}