{% extends "page_structure.html" %}
{% block body_classes %}two-columns{% endblock %}
{% block main %}
  <main class="{% block content_class %}{% endblock %}">
    {% block content %}
    {% endblock %}
  </main>
  <aside class="{% block sidebar_class %}{% endblock %}">
    {% block sidebar %}
    {% endblock %}
  </aside>
{% endblock %}