{% load generator_utils %}
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" media="all" href="static/styles.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      margin: 10px;
      overflow-x: hidden;
      position: relative;
    }
  </style>
  <title>caveat</title>
</head>

<body>
  <div id="container">
    <main>
      <aside class="left">
        <nav id="menu">
          <p class="logo"><a href="{{ SITE_URL }}index.html"><img class="logo" src="{{ SITE_URL }}static/images/logos/caveat.png" /></span></a></p>

          <ul>
              {% for label, url in MENU_ITEMS %}
                <li><a href="{{ SITE_URL}}{{ url }}">{{ label }}</a></li>
              {% endfor %}
            <!-- <li><a href="" class="artist"><span>Activities</span></a></li>
                  <li><a href="" class="artist"><span>Documents</span></a></li> -->
          </ul>
        </nav>
        <div id="prolog">
          <!--<span><a href="caveat-agenda-detail.html">&nbsp;</a></span>-->
          <!-- <p class= "question-quote">Giving the situation the power to make things</p> -->
        </div>
        <div class="about">
          <p class="intro">
            <em>Caveat</em> is a collective research into the ecology of artistic practice.
            It is initiated by Jubilee, in partnership with Open Source Publishing, No New Enemies and Été 78.
            <em>Caveat</em> tries to find more sustainable, balanced ways of operating within the existing legal frameworks.
            And when the limits of the existing system are reached, it tries to come up with possible new narratives that
            open up space for reflection.
          </p>
        </div>
      </aside>
      <aside class="right">
        <div class="agenda">
          {% for event in events %}
            <div id="{{ event.key }}" class="event presentation" data-image="{{ event.image }}">
                <div class="event-detail-header">
                  <p class="event-date"><time datetime="2019-05-24">{{ event.date }}</time></p>
                  <h2 class="event-title">{{ event }}</h2>

                  <section class="event-summary">
                    {% if event.programmeItems %}
                      <p><a href="{{ event.link }}">See programme</a></p>
                    {% endif %}
                    {{ event.summary }}
                  </section>

                  <section class="event-detail">
                    {% if event.time.value %}
                      <p class="event-infos">{{ event.time }}</p>
                    {% endif %}
                    {% if event.location.value %}
                      <p class="event-infos">{{ event.location }}</p>
                    {% endif %}
                    {% for line in event.address.value %}
                      <p class="event-infos">{{ line }}</p>
                    {% endfor %}
                    <p class="event-infos">
                      {% for link, source, produser in event.produser|link_iterator %}
                      <a href="{{ produser.link }}">{{ produser }}</a>
                      {% endfor %}
                    </p>
                    {% if event.programmeItems %}
                      <p><a href="{{ event.link }}">See programme</a></p>
                    {% endif %}
                    {{ event.content }}
                    {% if event.notes %}
                    <h4>Related documents</h4>
                    <ul class="simplelist">
                      {% for note in event.notes.targets %}
                      <li><a href="{{ note.link }}" class="note">{{ note }}</a></li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                    {% if event.programmeItems %}
                      <p><a href="{{ event.link }}">See programme</a></p>
                    {% endif %}
                  </section>
              </div>
            </div>
          {% endfor %}

        </div>
        <div id="detail-container">
          <div class="chrome"><span class="close-button">x</span></div>
          <div class="content"></div>
        </div>
      </aside>
    </main>
    <aside class="partners">
      <p class="">
        <strong>Caveat</strong> is a collective research project convened by the Brussels-based artists’ initiative Jubilee, in partnership with Open Source Publishing, No New Enemies and Été 78. Supported by Innoviris Brussels Institute for Research and Innovation, Flanders State of the Arts, and Vlaamse Gemeenschapscommissie.
      </p>
    </aside>
  </div>
</body>

<script>
  function setHash(hash) {
    if (hash) {
      hash = '#' + hash;
    }
    else {
      hash = '/';
    }

    if (history.pushState) {
      history.pushState(null, null, hash);
    }
    else {
      location.hash = hash;
    }
  }

  var entries = document.querySelectorAll('.event');
  var first = entries[0];
  var eventCloseButton = document.querySelector('#detail-container .close-button');
  eventCloseButton.addEventListener('click', function () {
    setHash(null);
    document.body.className = document.body.className.replace(/\s*event-active-through-click/, '');
  });
  
  function showImage(path) {
    var holder = document.getElementById('prolog');
    if (path && path != 'None') {
      holder.style.backgroundImage = 'url(' + path + ')';
    } else {
      holder.style.removeProperty('background-image');
    }
  }

  function activate(entry, entries) {
    for (var e = 0; e < entries.length; e++) {
      entries[e].classList.remove('active');
    }

    entry.classList.add('active');
    var clone = entry.cloneNode(true);
    var container = document.querySelector('#detail-container .content');

    container.classList.add('active');
    while (container.hasChildNodes()) {
      container.removeChild(container.lastChild);
    }

    container.appendChild(clone);
    var question = document.getElementById('prolog');
    if (question) {
      question.classList.add('blink');
    }
    
    if (entry.dataset.image) {
      var image = entry.dataset.image;
      showImage(image);
    }

    setImageListeners();
  }

  function show(entry, entries) {
    document.body.className += ' event-active-through-click';
    activate(entry, entries);
  }

  for (var i = 0; i < entries.length; i++) {
    (function (entry, entries) {
      entry.addEventListener('click', function () {
        setHash(entry.id);
        show(entry, entries)
      });
    })(entries[i], entries);
  }

  function getEntryByHash(hash) {
    var id = window.location.hash.substr(1);
    var entry = document.getElementById(id);

    if (entry && entry.className.indexOf('event') > -1) {
      return entry;
    }

    return false
  }

  if (window.location.hash) {
    var entry = getEntryByHash(window.location.hash);

    if (entry) {
      show(entry, entries);
    } else {
      activate(first, entries);
    }
  }
  else {
    activate(first, entries);
  }

  window.onhashchange = function () {
    var entry = getEntryByHash(window.location.hash);

    if (entry) {
      show(entry, entries);
    } else {
      document.body.className = document.body.className.replace(/\s*event-active-through-click/, '');
    }
  };

  document.getElementById('prolog').addEventListener('click', function () {
    var body = document.body;

    if (body.className.indexOf('prolog-expanded') == -1) {
      body.className += ' prolog-expanded';
    } else {
      body.className = body.className.replace(/\s*prolog-expanded/, '');
    }
  });

  function setImageListeners () {
    var images = document.querySelectorAll('aside.right img');

    for (var i=0; i < images.length; i++) {
      images[i].addEventListener('click', function () {
        if (this.parentElement && this.parentElement.tagName.toLowerCase() == 'figure') {
          this.parentElement.classList.toggle('full');
        } else {
          this.classList.toggle('full');
        }
      })
    }
  };

</script>