{% extends "generator_base_two_columns.html" %}
{% load generator_utils %}

{% block body_classes %}two-columns home{% endblock %}

{% block title %}Caveat{% endblock %}

{% if event.image %}
  {% block sidebar_image %}{{ event.image }}{% endblock %}
{% endif %}

{% block content_class %}home event-list{% endblock %}

{% block content %}
  <section class="sticky-section-header">Activities</section>
  {% for event in events %}
    <article id="{{ event.key }}" class="event presentation" data-image="{{ event.image }}" {% if forloop.first %} data-active{% endif %}>
      <time datetime="2019-05-24" class="date-header"><a href="{{ event.link }}">{{ event.date }}</a></time>
      <h2 class="event-title"><a href="{{ event.link }}">{{ event }}</a></h2>
      {{ event.summary }}
      {% if event.programmeItems %}
        <p><a href="{{ event.link }}" class="read-further">See programme ({{ event.programmeItems.value|length }} programme items)</a></p>
      {% endif %}
    </article>
  {% endfor %}
{% endblock %}

{% block sidebar_class %}home event-detail{% endblock %}

{% block sidebar %}
  {% with events|first as event %}
    {% include "snippets/home_event_detail.html" %}
  {% endwith %}
{% endblock %}

{% block footerresources %}
    <script src="{{ SITE_URL }}static/js/events.js"></script>
{% endblock %}