{% extends "generator_base.html" %}
{% block title %}
  Caveat
  {% if note.programmeItem.resolved %}
    {% if note.programmeItem.target.event.resolved %}
      {{ note.programmeItem.target.event }}
    {% endif %}
    → {{ note.programmeItem }}
  {% elif note.event.resolved %}
    → {{ note.event }}
  {% endif %}
  → {{ note.title|striptags }}
{% endblock %}
{% block content %}
  <nav class="breadcrumbs">
    <ul>
      {% if note.programmeItem.resolved %}
      <li><a href="../index.html">Timeline</a></li>
      {% if note.programmeItem.target.event.resolved %}
      <li><a href="{{ note.programmeItem.target.event.target.link }}">{{ note.programmeItem.target.event }}
      {% endif %}
      <li><a href="{{ note.programmeItem.target.link }}">{{ note.programmeItem }}</a></li>
      {% elif note.event.resolved %}
      <li><a href="../index.html">Timeline</a></li>
      <li><a href="{{ note.event.target.link }}">{{ note.event }}</a></li>
      {% endif %}
      <li>{{ note }}</li>
    </ul>
  </nav>
  <!-- <section class="item-reference">
    <p>
      Note for:
      {% if note.programmeItem.resolved %}
        <a href="{{ note.programmeItem.target.link }}">
          {{ note.programmeItem }}{% if note.programmeItem.target.date.value %}, {{ note.programmeItem.target.date }}{% endif %}{% if note.programmeItem.target.time.value %}, {{ note.programmeItem.target.time }}{% endif %}
        </a>
        {{ note.programmeItem.summary }}
      {% elif note.event.resolved %}
        <a href="{{ note.event.target.link }}">
          {{ note.event }}{% if note.event.target.date.value %}, {{ note.event.target.date }}{% endif %}{% if note.event.target.time.value %}, {{ note.event.target.time }}{% endif %}
        </a>
        {{ note.event.summary }}
      {% endif %}
    </p>
  </section> -->  
  
  <section class="long-text">
    <h1>{{ note.title }}</h1>
    {% with item=note %}{% include "snippets/metadata.html" %}{% endwith %}
    {{ note.content }}
  </section>
{% endblock %}
{% block footerresources %}
  <script src="{{ SITE_URL }}static/js/timejumper.js"></script>
{% endblock %}