<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" media="all" href="{{ SITE_URL }}static/styles.simple.css" />
  <title>{% block title %}Caveat{% endblock %}</title>
</head>
<body class="{% block body_classes %}{% endblock %}">
  <nav id="nav--main">
    <a href="{{ SITE_URL }}index.html" id="site-logo">
      <img src="{{ SITE_URL }}static/images/logos/caveat.png" />
    </a>
    <button id="toggle--menu">MENU</button>
    <ul>
      {% for label, url in MENU_ITEMS %}
        <li><a href="{{ SITE_URL}}{{ url }}">{{ label }}</a></li>
      {% endfor %}
    </ul>
  </nav>
  <section id="map" style="background-image:url({% block sidebar_image %}{% endblock %});"></section>
  <section id="header-content">
    {% block header-text %}
      <p>
        <em>Caveat</em> is a collective research into the ecology of artistic practice.
        It is initiated by <a href="https://jubilee-art.org">Jubilee</a>, in partnership with <a href="http://osp.kitchen">Open Source Publishing</a>, <a href="http://nonewenemies.net/">No New Enemies</a> and <a href="http://www.ete78.com/">Été 78</a>.
        <em>Caveat</em> tries to find more sustainable, balanced ways of operating within the existing legal frameworks.
        And when the limits of the existing system are reached, it tries to come up with possible new narratives that
        open up space for reflection.
      </p>
    {% endblock %}
  </section>
  {% block main %}
  <main></main>
  {% endblock %}
  <footer>
      <p class="">
        <strong>Caveat</strong> is a collective research project convened by the Brussels-based artists’ initiative Jubilee,
        in partnership with Open Source Publishing, No New Enemies and Été 78.
        Supported by Innoviris Brussels Institute for Research and Innovation,
        Flanders State of the Arts, and Vlaamse Gemeenschapscommissie.
      </p>
  </footer>
  <script>
    (function () {
      var images = document.querySelectorAll('main img, aside img');

      for (var i=0; i < images.length; i++) {
        images[i].addEventListener('click', function () {
          if (this.parentElement && this.parentElement.tagName.toLowerCase() == 'figure') {
            this.parentElement.classList.toggle('full');
          } else {
            this.classList.toggle('full');
          }
        })
      }
    })();

    (function () {
      // Find links where href is similar to label and 
      // allow to break everywhere inside
      var links = document.querySelectorAll('a');

      for (var i = 0; i < links.length; i++) {
        if (links[i].href == links[i].innerText) {
          links[i].classList.add('autolink');
        }
      }
    })();

    document.getElementById('map').addEventListener('click', function () {
      var body = document.body;
      body.classList.toggle('map--expanded');
    });

    (function () {
      document.querySelector('#toggle--menu')
        .addEventListener('click', function () {
          document.body.classList.toggle('menu--expanded');
        });
      var map = document.querySelector('#map'),
          bgImg = map.style.backgroundImage;

      if (!bgImg || bgImg == 'url()' || bgImg == 'url("")' || bgImg == 'url("None")' || bgImg == 'url("null")') {
        map.dataset.hidden = true;
      }
    })();
  </script>
  <script src="{{ SITE_URL }}static/js/links.js"></script>
  {% block footerresources %}{% endblock %}
</body>
</html>