{% extends "generator_base.html" %}

{% block title %}Caveat → events → {{ event.title|striptags }}{% endblock %}

{% if page.image %}
  {% block sidebar_image %}{{ page.image }}{% endblock %}
{% endif %}

{% block content %}
  <section class="long-text">
    <h1>{{ page.title }}</h1>
    {% with item=page %}{% include "snippets/metadata.html" %}{% endwith %}
    {{ page.content }}
  </section>
{% endblock %}