<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" media="all" href="static/styles.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      margin: 10px;
      overflow-x: hidden;
      position: relative;
    }
  </style>
  <title>caveat</title>
</head>

<body>
  <div id="container">
    <main>
      <aside class="left">
        <nav id="menu">
          <p class="logo"><a href="index.html"><img class="logo" src="img/logos/logo-caveat-90.png" /></span></a></p>

          <ul>
            <li><a href="caveat-about.html">About</span></a></li>
            <li><a href="caveat-contact.html">Contact</span></a></li>

            <!-- <li><a href="" class="artist"><span>Activities</span></a></li>
                  <li><a href="" class="artist"><span>Documents</span></a></li> -->
          </ul>
        </nav>
        <div id="prolog">
          <!--<span><a href="caveat-agenda-detail.html">&nbsp;</a></span>-->
          <!-- <p class= "question-quote">Giving the situation the power to make things</p> -->
        </div>
        <div class="about">
          <p class="intro"><strong>Caveat</strong> tries to find more sustainable, balanced ways of operating within
            the existing legal frameworks. And when the limits of the existing system are reached, it tries to come up
            with possible new narratives that open up space for reflection.</p>
        </div>
      </aside>
      <aside class="right">
        <div class="agenda">
          {% for role, produsers in grouped_produsers %}
              <div class="grouper">
                <h2 class="grouper-header">{{ role }}</h2>
              </div>
              {% for produser in produsers %}
                <div id="{{ produser.key }}" class="event presentation">
                    <div class="event-detail-header">
                      <h2 class="event-title">{% if produser.name %}{{ produser.name }}{% else %}{{ produser.produser }}{% endif %}</h2>
                      <span class="event-detail">
                        <h1>{% if produser.name %}{{ produser.name }}{% else %}{{ produser.produser }}{% endif %}</h1>
                        {% if produser.trajectories %}
                          {% for trajectory in produser.trajectories %}
                            <h2>Trajectory</h2>
                            {{ trajectory.content}}
                          {% endfor %}
                        {% endif %}
                        <h2>Biography</h2>
                        {{ produser.content }}
                        {% if produser.events %}
                          <h2>Events</h2>
                          <ul>
                            {% for event in produser.events %}
                              <li><a href="{{ event.link }}">{{ event.event }} {{ event.title }}</a>
                                {{ event.summary }}
                              </li>
                            {% endfor %}
                          </ul>
                        {% endif %}
                      </span>
                  </div>
                </div>
              {% endfor %}
            {% endfor %}
        </div>
        <div id="detail-container">
          <div class="chrome"><span class="close-button">x</span></div>
          <div class="content"></div>
        </div>
      </aside>
    </main>
    <aside class="partners">
      <p class=""><img class="logo-partners" style="" src="img/logos/inoviris.svg" /><strong>Caveat</strong> is a
        co-create research project convened by the Brussels-based artists’ initiative Jubilee, in partnership with Open
        Source Publishing, No New Enemies and Été 78 and supported by Innoviris, Brussels Institute for Research and
        Innovation.</p>
    </aside>
  </div>
</body>

<script>
  function setHash(hash) {
    if (hash) {
      hash = '#' + hash;
    }
    else {
      hash = '/';
    }

    if (history.pushState) {
      history.pushState(null, null, hash);
    }
    else {
      location.hash = hash;
    }
  }

  var entries = document.querySelectorAll('.event');
  var first = entries[0];
  var eventCloseButton = document.querySelector('#detail-container .close-button');
  eventCloseButton.addEventListener('click', function () {
    setHash(null);
    document.body.className = document.body.className.replace(/\s*event-active-through-click/, '');
  });

  function activate(entry, entries) {
    for (var e = 0; e < entries.length; e++) {
      entries[e].classList.remove('active');
    }

    entry.classList.add('active');
    var clone = entry.cloneNode(true);
    
    var images = clone.querySelectorAll('img');
      
    for (var i=0; i < images.length; i++) {
      images[i].addEventListener('click', function () { this.classList.toggle('full'); });
    }
    
    var container = document.querySelector('#detail-container .content');

    container.classList.add('active');
    while (container.hasChildNodes()) {
      container.removeChild(container.lastChild);
    }

    container.appendChild(clone);
    var question = document.getElementById('prolog');
    if (question) {
      question.classList.add('blink');
    }
  }

  function show(entry, entries) {
    document.body.className += ' event-active-through-click';
    activate(entry, entries);
  }

  for (var i = 0; i < entries.length; i++) {
    (function (entry, entries) {
      entry.addEventListener('click', function () {
        setHash(entry.id);
        show(entry, entries)
      });
    })(entries[i], entries);
  }

  function getEntryByHash(hash) {
    var id = window.location.hash.substr(1);
    var entry = document.getElementById(id);

    if (entry && entry.className.indexOf('event') > -1) {
      return entry;
    }

    return false
  }

  if (window.location.hash) {
    var entry = getEntryByHash(window.location.hash);

    if (entry) {
      show(entry, entries);
    } else {
      activate(first, entries);
    }
  }
  else {
    activate(first, entries);
  }

  window.onhashchange = function () {
    var entry = getEntryByHash(window.location.hash);

    if (entry) {
      show(entry, entries);
    } else {
      document.body.className = document.body.className.replace(/\s*event-active-through-click/, '');
    }
  };

  document.getElementById('prolog').addEventListener('click', function () {
    var body = document.body;

    if (body.className.indexOf('prolog-expanded') == -1) {
      body.className += ' prolog-expanded';
    } else {
      body.className = body.className.replace(/\s*prolog-expanded/, '');
    }
  });

</script>