{% extends "generator_base.html" %}
{% load generator_utils %}
{% block title %}
  Caveat → {{ tag.tag|striptags }}
{% endblock %}

{% if tag.image %}
  {% block sidebar_image %}{{ tag.image }}{% endblock %}
{% endif %}

{% block content %}
  <nav class="breadcrumbs">
    <ul>
      <li><a href="../tags.html">Tags</a></li>
      <li>{{ tag.tag }}</li>
    </ul>
  </nav>
    <h1>{{ tag.tag }}</h1>
    {% if tag.content %}
    {{ tag.content }}
    {% endif %}
    {% if tag.produsers %}
      <h3>Produsers</h3>
      <ul class="simplelist">
        {% for link, _, produser in tag.produsers|link_iterator %}
          <li><a href="{{ produser.link }}#{{ link.id }}">{% if link.label %}<span class="tag">{{ link.label }}</span> → {% endif %}{{ produser }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if tag.trajectories %}
      <h3>Trajectories</h3>
      <ul class="simplelist">
        {% for link, _, trajectory in tag.trajectories|link_iterator %}
          <li><a href="{{ trajectory.produser.value.target.link }}#{{ link.id }}">{% if link.label %}<span class="tag">{{ link.label }}</span> → {% endif %}{{ trajectory.produser }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
    
    {% if tag.reflections %}
      <h3>reflections</h3>
      <ul class="simplelist">
        {% for link, _, reflection in tag.reflections|link_iterator %}
          <li><a href="{{ reflection.link }}#{{ link.id }}">{% if link.label %}<span class="tag">{{ link.label }}</span> → {% endif %}{{ reflection }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
    

    {% if tag.events %}
      <h3>Activities</h3>
      <ul class="simplelist">
        {% for link, _, event in tag.events|link_iterator %}
          <li><a href="{{ event.link }}#{{ link.id }}">{% if link.label %}<span class="tag">{{ link.label }}</span> → {% endif %}{{ event }}</a></li>
        {% endfor %}
      </ul>   
    {% endif %}

    {% if tag.bibliography %}
      <h3>Bibliography</h3>
      <ul class="simplelist">
        {% for link, _, bibliography in tag.bibliography|link_iterator %}
          <li>{% if link.label %}<span class="tag">{{ link.label }}</span> → {% endif %}{{ bibliography }}</li>
        {% endfor %}   
      </ul>
    {% endif %}

    {% if tag.video %}
    <h3>Video</h3>
    <ul class="simplelist">
      {% for video in tag.video|link_target_iterator %}
        <li>
          <video controls>
            <source type="{{ video.type }}" src="{{ video.video }}">
          </video>
        </li>
      {% endfor %}   
    </ul>
  {% endif %}

  {% if tag.audio %}
  <h3>Audio</h3>
  <ul class="simplelist">
    {% for audio in tag.audio|link_target_iterator %}
      <li>
        <audio controls>
          <source type="{{ audio.type }}" src="{{ audio.audio }}">
        </audio>
      </li>
    {% endfor %}   
  </ul>
  {% endif %}
  {% if tag.notes %}
    <h3>Notes</h3>
    <ul class="simplelist">
      {% for link, _, note in tag.notes|link_iterator %}
        <li>
          <a href="{{ note.link }}#{{ link.id }}" class="note">{% if link.label %}<span class="tag">{{ link.label }}</span> → {% endif %}{{ note }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if tag.pages %}
  <h3>Pages</h3>
    <ul class="simplelist">
      {% for link, _, page in tag.pages|link_iterator %}
        <li>
          <a href="{{ page.link }}#{{ link.id }}" class="page">{% if link.label %}<span class="tag">{{ link.label }}</span> → {% endif %}{{ page }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
    
{% endblock %}