{% extends "generator_base.html" %}
{% block content %}
  <h1>Research Trajectories</h1>
  <p class="page-intro">
    <em>Caveat</em>'s collective research unfolds through an array of research practices.
    Caveat gathers these as 'trajectories', since they are process-based, durational,
    and do not necessarily have a tangible outcome.  
  </p>
  <nav class="inline-navigation">
    <ul>
    {% for category, _ in grouped_trajectories %}
      <li>
        <a href="#{{ category }}">
          {% if category == 'artisttrajectory' %}
            Artist trajectories
          {% elif category == 'designertrajectory' %}
            Designer trajectories
          {% else %}
            {{ category}}
          {% endif %}
        </a>
      </li>
    {% endfor %}
    {% if reflections %}
      <li>
        <a href="#reflections">Reflections</a>
      </li>
    {% endif %}
    </ul>
  </nav>
  {% for category, trajectories in grouped_trajectories %}
  <section id="{{ category }}" class="trajectory-list">
    {% if category == 'artisttrajectory' %}
      <h3>Artist trajectories</h3>
      <p>
        <em>Caveat</em> attributes a central role to a large number of artists who are invited to do in-depth research through their art practices into the socio-economic and legal conditions of these practices.
      </p>
    {% elif category == 'designertrajectory' %}
      <h3>Designer trajectories</h3>
      <p>
        As one of <em>Caveat</em>'s partners, open-source design collective OSP pursues a research into fair design practice: Ecotones of Collaboration.
      </p>
    {% elif category == 'reflection' %}
      <h3>Reflections</h3>
      <p>
          Critial considerations by the <em>Caveat</em> research team and 'dramaturgs' , and by invited guest writers put the research trajectories in different perspectives from their art historical, legal, sociological and other backgrounds.
      </p>
    {% endif %}
    <section class="trajectory-list--grid">
      {% for trajectory in trajectories %}
        <section class="trajectory--item">
          {% if trajectory.title.value %}
            <h2>
              <a href="{{ trajectory.link }}">{{ trajectory }}</a>
            </h2>
          {% else %}
            <h2 class="produser">
              <a href="{{ trajectory.produser.target.link }}">{{ trajectory.produser }}</a>
            </h2>
          {% endif %}
          {% if trajectory.summary.value %}
            {{ trajectory.summary }}
          {% else %}
            {{ trajectory.content|truncatewords_html:60 }}
          {% endif %}
          <a href="{{ trajectory.link }}" class="read-further">read further</a>
        </section>
      {% endfor %}
    </section>
  </section>  
  {% endfor %}
  {% if reflections %}
  <section id="reflections" class="trajectory-list">
    <h3>Reflections</h3>
    <p>
        Critial considerations by the <em>Caveat</em> research team and 'dramaturgs' , and by invited guest writers put the research trajectories in different perspectives from their art historical, legal, sociological and other backgrounds.
    </p>
    <section class="trajectory-list--grid">
      {% for reflection in reflections %}
        <section class="trajectory--item">
          <h2>
            <a href="{{ reflection.link }}">{{ reflection }}</a>
          </h2>
          {% if reflection.summary.value %}
            {{ reflection.summary }}
          {% else %}
            {{ reflection.content|truncatewords_html:60 }}
          {% endif %}
          <a href="{{ reflection.link }}" class="read-further">read further</a>
        </section>
      {% endfor %}
    </section>
  </section>  
  {% endif %}
{% endblock %}