<figure class="image content-image">
  {% if image.title.value %}
    <h4>{{ image.title }}</h4>
  {% endif %}
  <img src="{{ image.image }}" />
  {% if image.caption.value %}
    <figcaption>
      {{ image.caption }}
    </figcaption>
  {% endif %}
</figure>