<section class="video">
  {% if video.title.value %}
  <h3>{{  video.title }}</h3>
  {% endif %}
  {% if video.vimeoId %}
    <div style="padding:60% 0 0 0;position:relative;">
      <iframe src="https://player.vimeo.com/video/{{ video.vimeoId }}?color=ffffff&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
    <script src="https://player.vimeo.com/api/player.js"></script>
  {% else %}
    <video controls>
      <source src="{{ video.video }}" type="{{ video.type }}">
    </video>
  {% endif %}
  {% if audio.description %}
    <p>
      {{ audio.description }}
    </p>
  {% endif %}
</section>