@font-face {
    font-family: "Junicode-Condensed";
    src: url("/static/fonts/junicode/Junicode-RegularCondensed.woff2") format('woff2'),
         url("/static/fonts/junicode/Junicode-RegularCondensed.woff") format('woff'),
         url("/static/fonts/junicode/Junicode-RegularCondensed.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Junicode-Condensed";
    src: url("/static/fonts/junicode/Junicode-BoldItalicCondensed.ttf") format('woff2'),
         url("/static/fonts/junicode/Junicode-BoldItalicCondensed.ttf") format('woff'),
         url("/static/fonts/junicode/Junicode-BoldItalicCondensed.ttf") format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Junicode-Condensed";
    src: url("/static/fonts/junicode/Junicode-BoldCondensed.woff2") format('woff2'),
         url("/static/fonts/junicode/Junicode-BoldCondensed.woff") format('woff'),
         url("/static/fonts/junicode/Junicode-BoldCondensed.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Caveat-Outline";
    src: url("/static/fonts/Caveat.woff") format('woff'),
         url("/static/fonts/Caveat.ttf") format('truetype');
    font-weight: regular;
    font-style: normal;
}
@font-face {
    font-family: "U001";
    src: url("/static/fonts/u001-font-univers/U001-Reg.woff") format('woff'),
         url("/static/fonts/u001-font-univers/U001-Reg.ttf") format('truetype');
    font-weight: regular;
    font-style: normal;
}
@font-face {
    font-family: "U001";
    src: url("/static/fonts/u001-font-univers/U001-Bol.woff") format('woff'),
         url("/static/fonts/u001-font-univers/U001-Bol.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "U001";
    src: url("/static/fonts/u001-font-univers/U001-BolIta.woff") format('woff'),
         url("/static/fonts/u001-font-univers/U001-BolIta.ttf") format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "U001";
    src: url("/static/fonts/u001-font-univers/U001-Ita.woff") format('woff'),
         url("/static/fonts/u001-font-univers/U001-Ita.ttf") format('truetype');
    font-weight: regular;
    font-style: italic;
}