{% extends "base.html" %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% url 'css-screen' %}" type="text/css" media="screen">
    <link rel="stylesheet" href="{% url 'css-print' %}" type="text/css" media="print">
    <link rel="stylesheet" href="{% static 'css/progress.css' %}" type="text/css" media="all">
{% endblock %}

{% block content %}
  {% if generated %}
  <p style="background-color: white">Site regenerated</p>
  <p>View <a href="/static/generated/index.html">home page</a></p>
  {% else %}
  <div id="loading">
      <div class="meter red">
          <span style="width: 25%"></span>
      </div>
      <p>Generating, please don’t stop or refresh this page:</p>
      <p>This might take a while.</p>
  </div>
  <form action="" method="post">
      {% csrf_token %}
      <input style="" type="submit" class="submit" value="Generate"/>
  </form>
  <script>
      $("input[type=submit]").click(function() {
          $(this).hide();
          $("#loading").show();
      });
  </script>
  {% endif %}
{% endblock %}
