{% extends "base.html" %}
{% load wikify ethertoff_tags %}

{% block bodyclasses %}pad-00md{% endblock %}

{% block title %}
    <header>
    <h1>
        <span property="dc:title">Index</span>
    </h1>
    </header>
{% endblock %}

{% block content %}
    {% for set_of_articles in articles %}
    {% if sort == "participants" %}
    <h2>{{ set_of_articles.key|un_alphabetise }}</h2>
    {% elif sort == "date" %}
        {% with set_of_articles.key|to_date_obj as date %}
        {% if date.minute == 0 and date.hour == 0%}
            <h2>{{ date|date:"F j, o" }}</h2>
        {% else %}
            <h2>{{ date|date:"F j, o H:i" }}</h2>
        {% endif %}
        {% endwith%}
    {% else %}
    <h2>{{ set_of_articles.key }}</h2>
    {% endif %}
    <ul>
    {% for article in set_of_articles.values %}

        <li {% if article.type %}data-type="{{ article.type }}"{% endif %}>
        <a href="{{ article.href }}" lang="{{ article.language }}">{{ article.title|markdown_filter }}</a>
        </li>

    {% endfor %}
    </ul>
    {% endfor %}
{% endblock %}

{% block rightside %}
    {% if author %}
    {% endif %}
{% endblock %}

{% block extraui %}
{% if not user.is_authenticated %}
<div class="popup-wrapper hidden">
    <div class="popup">
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <label for="id_username">Username</label>
        <input id="id_username" maxlength="254" name="username" type="text" />
        <label for="id_password">Password</label>
        <input id="id_password" name="password" type="password" />
    
        <input class="submit" type="submit" value="Login" />
        <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}{% url 'home' %}{% endif %}" />
      </form>
    </div>
</div>
{% endif %}
{% endblock %}
