{% extends "base.html" %}
{% load i18n %}

{% block extra_styles %}
      <link rel="stylesheet" href="{% url 'css-screen' %}" type="text/css" media="screen">
      <link rel="stylesheet" href="{% url 'css-print' %}" type="text/css" media="print">
{% endblock %}
  
{% block title %}
      <h1>{{ title }}</h1>
{% endblock %}

{% block content %}
  <form action="{% url 'pad-rename' pk=pk %}" method="post">
        {% csrf_token %}
        {% trans "Old pad name" %}: {{ name }}<br />  
        {% trans "New pad name" %}: {{ form.name }}
        <input class="submit" type="submit" value="{% trans "Rename" %}" />
  </form>
  <legend></legend>
{% endblock %}
